<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Devwarlt/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Devwarlt" />
            <add key="ClearTextPassword" value="ed9a500120df9e5c4f01d17a2d74a7bce6794fcb" />
        </github>
    </packageSourceCredentials>
</configuration>
